In [189]:
import graphlab

In [190]:
def f_and(x1,x2):
    return 1 if x1 and x2 else 0

def f_not_and(x1,x2):
    return 1 if not x1 and not x2 else 0

def f_or(x1,x2):
    return 1 if x1 or x2 else 0

In [191]:
import pandas as pd
from itertools import product

def truth_table(f):
    values = [list(x) + [f(*x)] for x in product([1,0], repeat=f.func_code.co_argcount)]
    return pd.DataFrame(values,columns=(list(f.func_code.co_varnames) + [f.func_name]))

#### Create a SFrame object from the above Truth Table Pandas Data Frame

In [192]:
truth_tble = graphlab.SFrame(data=truth_table(f_and))
truth_tble_not = graphlab.SFrame(data=truth_table(f_not_and))
truth_tble_or = graphlab.SFrame(data=truth_table(f_or))

#### Lets Show the SFrame Object of Truth that we just created

In [193]:
#truth_tble.head()
#truth_tble_not.head()
#truth_tble_or.head()

In [209]:
w0 = -0.5 
w1 = -1
w2 = 1


w0_ = 1.5 
w1_ = -1
w2_ = -1

truth_tble['score_w'] = truth_tble.apply( lambda t : w0 + t['x1'] * w1 + t['x2'] * w2 )
truth_tble['score_w_'] = truth_tble.apply( lambda t : w0_ + t['x1'] * w1_ + t['x2'] * w2_ )

truth_tble_not['score_w'] = truth_tble_not.apply( lambda t : w0 + t['x1'] * w1 + t['x2'] * w2 )
truth_tble_not['score_w_'] = truth_tble_not.apply( lambda t : w0_ + t['x1'] * w1_ + t['x2'] * w2_ )

w0__ = -1.5 
w1__ = 1
w2__ = 1
truth_tble_or['score'] = truth_tble_or.apply( lambda t : w0__ + t['x1'] * w1__ + t['x2'] * w2__ )

In [210]:
truth_tble.head()

Columns:
	x1	int
	x2	int
	f_and	int
	score_w	float
	score_w_	float

Rows: 4

Data:
+----+----+-------+---------+----------+
| x1 | x2 | f_and | score_w | score_w_ |
+----+----+-------+---------+----------+
| 1  | 1  |   1   |   -0.5  |   -0.5   |
| 1  | 0  |   0   |   -1.5  |   0.5    |
| 0  | 1  |   0   |   0.5   |   0.5    |
| 0  | 0  |   0   |   -0.5  |   1.5    |
+----+----+-------+---------+----------+
[4 rows x 5 columns]

In [211]:
truth_tble_not.head()

Columns:
	x1	int
	x2	int
	f_not_and	int
	score_w	float
	score_w_	float

Rows: 4

Data:
+----+----+-----------+---------+----------+
| x1 | x2 | f_not_and | score_w | score_w_ |
+----+----+-----------+---------+----------+
| 1  | 1  |     0     |   -0.5  |   -0.5   |
| 1  | 0  |     0     |   -1.5  |   0.5    |
| 0  | 1  |     0     |   0.5   |   0.5    |
| 0  | 0  |     1     |   -0.5  |   1.5    |
+----+----+-----------+---------+----------+
[4 rows x 5 columns]

In [212]:
truth_tble_or.head()

Columns:
	x1	int
	x2	int
	f_or	int
	score	float

Rows: 4

Data:
+----+----+------+-------+
| x1 | x2 | f_or | score |
+----+----+------+-------+
| 1  | 1  |  1   |  0.5  |
| 1  | 0  |  1   |  -0.5 |
| 0  | 1  |  1   |  -0.5 |
| 0  | 0  |  0   |  -1.5 |
+----+----+------+-------+
[4 rows x 4 columns]