# Fireup the Graphlab

In [1]:
import graphlab

# load some data

In [2]:
sales = graphlab.SFrame.read_csv('Philadelphia_Crime_Rate_noNA.csv/')

This non-commercial license of GraphLab Create for academic use is assigned to atulsingh7890@gmail.com and will expire on April 30, 2017.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1470902037.log

Finished parsing file /Users/atsingh/Desktop/CourseraMachineLearningUW/ml-regression-2/1. Simple Linear Regression/Philadelphia_Crime_Rate_noNA.csv

Parsing completed. Parsed 99 lines in 0.026004 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,float,float,float,float,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/atsingh/Desktop/CourseraMachineLearningUW/ml-regression-2/1. Simple Linear Regression/Philadelphia_Crime_Rate_noNA.csv

Parsing completed. Parsed 99 lines in 0.009209 secs.

In [3]:
sales.head()

Columns:
	HousePrice	int
	HsPrc ($10,000)	float
	CrimeRate	float
	MilesPhila	float
	PopChg	float
	Name	str
	County	str

Rows: 10

Data:
+------------+-----------------+-----------+------------+--------+------------+
| HousePrice | HsPrc ($10,000) | CrimeRate | MilesPhila | PopChg |    Name    |
+------------+-----------------+-----------+------------+--------+------------+
|   140463   |     14.0463     |    29.7   |    10.0    |  -1.0  |  Abington  |
|   113033   |     11.3033     |    24.1   |    18.0    |  4.0   |   Ambler   |
|   124186   |     12.4186     |    19.5   |    25.0    |  8.0   |   Aston    |
|   110490   |      11.049     |    49.4   |    25.0    |  2.7   |  Bensalem  |
|   79124    |      7.9124     |    54.1   |    19.0    |  3.9   | Bristol B. |
|   92634    |      9.2634     |    48.6   |    20.0    |  0.6   | Bristol T. |
|   89246    |      8.9246     |    30.8   |    15.0    |  -2.6  | Brookhaven |
|   195145   |     19.5145     |    10.8   |    20.0    |  -3.5  | Bryn Athyn |
|   297342   |     29.7342     |    20.2   |    14.0    |  0.6   | Bryn Mawr  |
|   264298   |     26.4298     |    20.4   |    26.0    |  6.0   | Buckingham |
+------------+-----------------+-----------+------------+--------+------------+
+----------+
|  County  |
+----------+
| Montgome |
| Montgome |
| Delaware |
|  Bucks   |
|  Bucks   |
|  Bucks   |
| Delaware |
| Montgome |
| Montgome |
|  Bucks   |
+----------+
[10 rows x 7 columns]