# Import graphlab create

In [1]:
import graphlab

# Load the House sales data

In [2]:
sales = graphlab.SFrame('kc_house_data.gl/')

This non-commercial license of GraphLab Create for academic use is assigned to atulsingh7890@gmail.com and will expire on April 30, 2017.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1470907286.log

In [5]:
sales.head()

Columns:
	id	str
	date	datetime
	price	float
	bedrooms	float
	bathrooms	float
	sqft_living	float
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 10

Data:
+------------+---------------------------+-----------+----------+-----------+
|     id     |            date           |   price   | bedrooms | bathrooms |
+------------+---------------------------+-----------+----------+-----------+
| 7129300520 | 2014-10-13 00:00:00+00:00 |  221900.0 |   3.0    |    1.0    |
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000.0 |   3.0    |    2.25   |
| 5631500400 | 2015-02-25 00:00:00+00:00 |  180000.0 |   2.0    |    1.0    |
| 2487200875 | 2014-12-09 00:00:00+00:00 |  604000.0 |   4.0    |    3.0    |
| 1954400510 | 2015-02-18 00:00:00+00:00 |  510000.0 |   3.0    |    2.0    |
| 7237550310 | 2014-05-12 00:00:00+00:00 | 1225000.0 |   4.0    |    4.5    |
| 1321400060 | 2014-06-27 00:00:00+00:00 |  257500.0 |   3.0    |    2.25   |
| 2008000270 | 2015-01-15 00:00:00+00:00 |  291850.0 |   3.0    |    1.5    |
| 2414600126 | 2015-04-15 00:00:00+00:00 |  229500.0 |   3.0    |    1.0    |
| 3793500160 | 2015-03-12 00:00:00+00:00 |  323000.0 |   3.0    |    2.5    |
+------------+---------------------------+-----------+----------+-----------+
+-------------+----------+--------+------------+------+-----------+-------+------------+
| sqft_living | sqft_lot | floors | waterfront | view | condition | grade | sqft_above |
+-------------+----------+--------+------------+------+-----------+-------+------------+
|    1180.0   |   5650   |   1    |     0      |  0   |     3     |   7   |    1180    |
|    2570.0   |   7242   |   2    |     0      |  0   |     3     |   7   |    2170    |
|    770.0    |  10000   |   1    |     0      |  0   |     3     |   6   |    770     |
|    1960.0   |   5000   |   1    |     0      |  0   |     5     |   7   |    1050    |
|    1680.0   |   8080   |   1    |     0      |  0   |     3     |   8   |    1680    |
|    5420.0   |  101930  |   1    |     0      |  0   |     3     |   11  |    3890    |
|    1715.0   |   6819   |   2    |     0      |  0   |     3     |   7   |    1715    |
|    1060.0   |   9711   |   1    |     0      |  0   |     3     |   7   |    1060    |
|    1780.0   |   7470   |   1    |     0      |  0   |     3     |   7   |    1050    |
|    1890.0   |   6560   |   2    |     0      |  0   |     3     |   7   |    1890    |
+-------------+----------+--------+------------+------+-----------+-------+------------+
+---------------+----------+--------------+---------+-------------+
| sqft_basement | yr_built | yr_renovated | zipcode |     lat     |
+---------------+----------+--------------+---------+-------------+
|       0       |   1955   |      0       |  98178  | 47.51123398 |
|      400      |   1951   |     1991     |  98125  | 47.72102274 |
|       0       |   1933   |      0       |  98028  | 47.73792661 |
|      910      |   1965   |      0       |  98136  |   47.52082  |
|       0       |   1987   |      0       |  98074  | 47.61681228 |
|      1530     |   2001   |      0       |  98053  | 47.65611835 |
|       0       |   1995   |      0       |  98003  | 47.30972002 |
|       0       |   1963   |      0       |  98198  | 47.40949984 |
|      730      |   1960   |      0       |  98146  | 47.51229381 |
|       0       |   2003   |      0       |  98038  | 47.36840673 |
+---------------+----------+--------------+---------+-------------+
+---------------+---------------+-----+
|      long     | sqft_living15 | ... |
+---------------+---------------+-----+
| -122.25677536 |     1340.0    | ... |
|  -122.3188624 |     1690.0    | ... |
| -122.23319601 |     2720.0    | ... |
| -122.39318505 |     1360.0    | ... |
| -122.04490059 |     1800.0    | ... |
| -122.00528655 |     4760.0    | ... |
| -122.32704857 |     2238.0    | ... |
| -122.31457273 |     1650.0    | ... |
| -122.33659507 |     1780.0    | ... |
|  -122.0308176 |     2390.0    | ... |
+---------------+---------------+-----+
[10 rows x 21 columns]

In [151]:
train_data,test_data = sales.random_split(0.8,seed=0)

In [152]:
def simple_linear_regression(input_feature, output):
    n = len(input_feature)
    x = input_feature
    y = output
    
    # compute the mean of  input_feature and output
    x_mean = x.mean()
    y_mean = y.mean()
    
    # compute the product of the output and the input_feature and its mean
    sum_xy = (y * x).sum()
    xy_by_n = (y.sum() * x.sum())/n
               
    # compute the squared value of the input_feature and its mean
    x_square = (x**2).sum()
    xx_by_n = (x.sum() * x.sum())/n
               
    # use the formula for the slope
    slope = (sum_xy - xy_by_n) / (x_square - xx_by_n)
    
    # use the formula for the intercept
    intercept = y_mean - (slope * x_mean)
    return (intercept, slope)

In [157]:
import numpy as np
test_feature = np.array(range(5))
test_output = np.array(1 + 1*test_feature)
(test_intercept, test_slope) =  simple_linear_regression(test_feature, test_output)
print "Intercept: " + str(test_intercept)
print "Slope: " + str(test_slope)

Intercept: 1.0
Slope: 1

In [158]:
input_feature = train_data['sqft_living']
output = train_data['price']

In [159]:
simple_lin_model = graphlab.linear_regression.create(sales, features=['sqft_living'] , target='price' , validation_set=None)

Linear regression:

--------------------------------------------------------

Number of examples          : 21613

Number of features          : 1

Number of unpacked features : 1

Number of coefficients    : 2

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.023816     | 4362074.696077     | 261440.790724 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

In [160]:
intercpet_linreg = simple_lin_model.coefficients['name' == '(intercept)']['value']
print intercpet_linreg

-43579.0852515

In [161]:
simple_lin_model.coefficients
slope_linreg = simple_lin_model.coefficients[simple_lin_model.coefficients['name'] == 'sqft_living']['value']
#slope_linreg = simple_lin_model.coefficients['name' == 'sqft_living']['value']
print slope_linreg

[280.62277088584744, ... ]

In [162]:
input_feature.head()

dtype: float
Rows: 10
[1180.0, 2570.0, 770.0, 1960.0, 1680.0, 5420.0, 1715.0, 1060.0, 1780.0, 1890.0]

In [163]:
output.head()

dtype: float
Rows: 10
[221900.0, 538000.0, 180000.0, 604000.0, 510000.0, 1225000.0, 257500.0, 291850.0, 229500.0, 323000.0]

In [164]:
intercept_1,slope_1 = simple_linear_regression(input_feature,output)

In [165]:
print intercept_1,slope_1

-47116.0765749 281.958838568

In [166]:
def get_regression_predictions(input_feature, intercept, slope):
    #output = input_feature.apply( lambda x : x * slope + intercept )
    output = input_feature * slope + intercept
    return output

##### 6. Quiz Question: Using your Slope and Intercept from (4), What is the predicted price for a house with 2650 sqft?

In [167]:
print get_regression_predictions(2650, intercept_1 , slope_1)

700074.845629

In [168]:
def get_residual_sum_of_squares(input_feature, output , intercept , slope ):
    val = output - input_feature*slope - intercept 
    val = val * val
    return val.sum()

#### 8. Quiz Question: According to this function and the slope and intercept from (4) What is the RSS for the simple linear regression using squarefeet to predict prices on TRAINING data?

In [169]:
print get_residual_sum_of_squares( input_feature , output , intercept_1 , slope_1 )

1.20191835632e+15

In [170]:
def inverse_regression_predictions(output,intercept , slope):
    estimated_input = ( output - intercept )/slope
    return estimated_input

#### 10. Quiz Question: According to this function and the regression slope and intercept from (3) what is the estimated square-feet for a house costing $800,000?

In [171]:
print inverse_regression_predictions(800000,intercept_1,slope_1) #* slope_1 + intercept_1

3004.39624762

In [172]:
print inverse_regression_predictions(800000,intercpet_linreg,slope_linreg) #* slope_1 + intercept_1

[3006.096342746912, ... ]

In [173]:
input_feature_bedroom = sales['bedrooms']

In [174]:
output = sales['price']

In [175]:
intercept_bedroom,slope_bedroom =  simple_linear_regression(input_feature_bedroom, output)

In [176]:
print intercept_bedroom,slope_bedroom

129802.357379 121716.126238

In [177]:
rss_sqft = get_residual_sum_of_squares( test_data['sqft_living'] , test_data['price'], intercept_1 , slope_1 )

In [178]:
rss_bedrooms = get_residual_sum_of_squares( test_data['bedrooms'] , test_data['price'], intercept_1 , slope_1 )

In [90]:
print rss_sqft, rss_bedrooms

2.75321698765e+14 1.98752621264e+15

In [131]:
import math
math.sqrt(1715)

41.41255848169731

In [133]:
800000 - intercept_1

843580.7403270851

In [134]:
843580.7403270851 / slope_1

3006.0937163854865